* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;

  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #000;

  @media screen and (min-width: 320px) {
    overflow-x: hidden;
  }
}

$font-color-header: #fff;
$shadow-height: 10px;

$main-color: #323264;
$main-color-alt: #46466e;
$main-color-soft: #686887;
$hover-color-accent: #f0145a;

.btn {
  border: unset;
  transition: var(--cubic-bezier);
}

.btn:hover {
  background-color: $hover-color-accent;
}

.shadow {
  margin: 0 auto;
  height: $shadow-height;
  border-radius: 0px 0px 12px 12px;
}

a {
  text-decoration: none;
}

.gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  position: relative;
}

.gradient::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: calc(100% - 40px);
  bottom: 0;
  left: 20px;
  box-shadow: 0 10px 0 #cacadb;
  border-radius: 0 0 12px 12px;
  z-index: -1;
}

.gradient::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: calc(100% - 80px);
  bottom: -10px;
  left: 40px;
  box-shadow: 0 10px 0 #e7e7f2;
  border-radius: 0 0 12px 12px;
  z-index: -2;
}

.services-gradient {
  margin-bottom: 80px;
}

.breadcrumb {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: #24a3ff;
  transition: var(--cubic-bezier);
  margin-right: 3px;

  border: 2px solid #fff;
  border: hidden;
}

.breadcrumb:hover {
  color: $hover-color-accent;
  cursor: pointer;
}

.breadcrumb:hover ~ .chevron > .chevron-path {
  stroke: $hover-color-accent;
  cursor: pointer;
}

.chevron {
  display: inline-block;
  border: 2px solid #fff;
  border: hidden;
}

.chevron-path {
  transition: var(--cubic-bezier);
}

.phone {
  font-weight: 700;
  color: $font-color-header;
}

.phone:hover {
  text-decoration: underline;
}

.address,
.copywright {
  color: #b3b3ba;
}

.email {
  color: #24a3ff;
  font-weight: 700;
}

.email:hover {
  text-decoration: underline;
}

.facebook-link__path {
  transition: var(--cubic-bezier);
}

.facebook-link__path:hover {
  fill: #f0145a;
}
